*,
*:before,
*:after {
  box-sizing: border-box;
}
h1 {
  font: 19px/1.8 "Roboto Condensed", Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.5px;
  }
h2 {
  font: 17px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: bold;
  margin: 20px 0 20px 0;
  }

  
.c1 {
  text-align: justify;
  margin: auto;
}

.foot {
  
  font: 12px/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 12px;
  text-align: center;
  color: LightGray;
  }

form {
  border: 1px solid #c6c7cc;
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  width: 360px;
  height: 670px;
  margin: auto;
  
  
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
input {
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}
legend {
  font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0px 0  30px 8px;
  padding-top: 10px;
}
.account-info {
  padding: 0 20px 0 20px;
  height: 490px;
}
.account-info label {
  color: #2c5a7e;
  display: block;
  font-weight: bold;
  
}
.account-info input {
  background: #fff;
  border: 1px solid #c6c7cc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #636466;
  
  width: 100%;
}
.account-info select {
  background: #fff;
  border: 1px solid #c6c7cc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #636466;
  
}
.account-action {
  background: #f0f0f2;
  border-top: 1px solid #c6c7cc;
  height: 190px;
  text-align: center;
}
.account-action .btn {
  background: linear-gradient(#49708f, #293f50);
  border: 0;
  color: #fff;
  cursor: pointer;
  margin: 0;
  height: 35px;
  width: 175px;
}
.account-action label {
  color: #7c7c80;
  font-size: 11px;
  margin: 25px 0 10px 0;
}
input[type="text"], input[type="email"],  select, textarea {
  width: 100%;
  height: 27px;
  margin-bottom: 16px;
}

input[type="password"],input[type="country"] {
margin-bottom: 16px;
width: 100%;
height: 27px;
}

.ed {
  padding: 20px 20px 7px 20px;
}

.main {
  padding-top: 30px;
}
input[type="checkbox"] {
  margin-bottom: 0px;
  
}
