*,
*:before,
*:after {
  box-sizing: border-box;
}
h1 {
  font: 21px/1.8 "Roboto Condensed", Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-stretch: condensed;
  padding: 0px;
  }
h2 {
  font: 18px/1.9 "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  }

.forma {
  text-align: center;
  margin: auto;
  width: 360px;
}

.foot {
  
  font: 11px/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  margin-top: 10px;
  opacity: 0.3;
  }

form {
  border: 1px solid #c6c7cc;
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
input {
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  
}
legend {
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 12px;
  letter-spacing: 1px;
}
.account-info {
  height: 519px;
  padding: 20px 20px 0 20px;
}
.account-info label {
  color: #395870;
  display: block;
  text-align: left;
  font-weight: bold;
  padding-bottom: 3px;
  padding-top:10px;
  
}
.account-info input {
  background: #fff;
  border: 1px solid #c6c7cc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #636466;
  width: 100%;
  margin-bottom: 9px;
}
.account-info select {
  background: #fff;
  border: 1px solid #c6c7cc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #636466;
  padding:  0;
  margin-top: -2px;
  padding-left: 6px;  
  font-size: 11.2px;
  
}
.account-action {
  background: #f0f0f2;
  border-top: 1px solid #c6c7cc;
  padding:20px 20px 30px 33px;
  line-height: 15px;
  margin-top:6px;
  height: 197px;
}
.account-action .btn {
  background: linear-gradient(#49708f, #293f50);
  border: 0;
  color: #fff;
  cursor: pointer;
  margin-top: 6px;
  margin-bottom: 10px;
  margin-left:0px ;
  margin-right: 14px;
  font-weight: bolder;
  width: 175px;
  height:36px;
  padding-top: 2px;
}
.account-action label {
  color: #7c7c80;
  font-size: 11px;
  
}
input[type="email"] ,input[type="text"] {
  width: 100%;
  height: 28px;
}
  select, textarea {
  width: 100%;
  height: 30px;
  padding-left: 8px;
}

a{
  color: #4156d1;
}
.surname{
  position: relative;
  margin-top: -3px;
  
}
.email{
  position: relative;
  margin-top: -5px;

}
.email2{
  margin-top: 0px;
}

.phone{
  margin-top: -5px;
}
.phone_number{
  font-size: 11.3px;
}
.country{
  margin-top: -4px;
}

input[type="password"] {

  width: 100%;
  height: 31px;
  padding-left: 8px;
}

.confirm{
  margin-top: -4px;
  height: 38px;
}

input[type="checkbox"]{
  margin-left: 2px;
  margin-top: 11px;
  
}

a{
  font-size: 12px;
  letter-spacing: -1px;
}

#check {
  margin-left: 6px;
  margin-top: 9px;
}

.foot{
  margin-top: 10px;
}